figure.center{
	text-align: center;
}
a {color:#1e4f8f;}
a:active, a:hover, a:focus {color: #5cbcff;}
.gsf-fields{background:#5cbcff;}


.tt-dropdown-menu {
    right: -20% !important;
    margin-top: 0 !important;
    z-index:20000;
}
/*new catalog*/

#catalog-v2 .bgTint {
    background-color: #e8f2ff!important;
}
/*Mise en avant RS*/
#catalog-v2 .CatalogCard-title.CatalogCard-title--premium {
    background: #1E4F8F!important;
}
